$white: #FFF;
$grey-light: #F5F5F5;
$grey: #c7c5c5;
$grey-dark: #828282;
$grey-form: #9e9e9e;
$black: #333;
$fuschia: #c926b5;
$purple: #7d59b5;
$blue: #0e4bbe;
$ice: #43b5eb;

/*font colours*/

.txt-black {
  color: $black;
}

.txt-white {
  color: $white;
}

.txt-purple {
  color: $purple;
}

.txt-blue {
  color: $blue;
}

.txt-grey-light {
  color: $grey-light;
}

.txt-grey {
  color: $grey;
}

.txt-grey-dark {
  color: $grey-dark;
}

/* Background Colors*/

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-fuschia {
  background-color: $fuschia;
  color: $white;
}

.bg-fuschia-dark {
  background-color: darken($fuschia, 20%);
  color: $white;
}

.bg-blue-light {
  background-color: lighten($blue, 20%);
  color: $white;
}

.bg-blue {
  background-color: $blue;
  color: $white;
}

.bg-blue-dark {
  background-color: darken($blue, 20%);
  color: $white;
}

.bg-purp {
  background-color: $purple;
}

.bg-ice {
  background-color: $ice;
}

.bg-grey-dark {
  background-color: $grey-dark;
}

.bg-grey {
  background-color: $grey;
}

.bg-grey-light {
  background-color: $grey-light;
}
