@import './colors.scss';

.tile {
  background-color: $white;
}

.tile-image {
  padding: 20px 20px 0 20px;
  img {
    max-width: 100%;
  }
}

.tile-text {
  padding: 0 20px;
  color: $black;
}

.tile-button {
  .btn {
    border-radius: 0;
  }
}

.free-tiles {
  .tile {
    background-color: transparent;
    padding-bottom: 20px;
  }

  .tile-text {
    color: $white;
  }
}

.hero-tile {
  .col:first-of-type {
    .tile .tile-text {
     @media(max-width: 991px) and (min-width: 601px){
       width: 30rem;
       margin: auto;
     }
   }
 }
}
