@import "../../styles/base.scss";

#send-coin-sect {
  height: auto; /* Overrides the 500px height that the parallax class applies */
}

#paragraph-container {
  color: $white;
  p {
    padding: 0.5rem 1rem 0 1rem;
  }
}

.send-buttons {
  text-align: right;
}
