<div class="navbar-fixed">
  <nav> 
    <div class="nav-wrapper"> 
      <div class="mob-hdn grow-1"></div>
      <div class="brand-logo"><img src=".\assets\logo-mark.png" alt="Navtech logo" id="header-logo"> Polymorph</div>
      <div class="fill-remaining-space"></div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/" >HOME</a> </li>
        <li><a routerLink="/send" >SEND</a> </li>
        <li><a routerLink="/about" >ABOUT</a></li>
        <li><a routerLink="/contact" >CONTACT</a></li>
      </ul>  
      <div class="mob-hdn grow-1"></div>
    </div>
  </nav> 
<div>