$white: #FFF;
$grey-light: #F5F5F5;
$grey: #c7c5c5;
$grey-dark: #828282;
$black: #333;
$purple: #c926b5;
$grape: #7d59b5;
$blue: #0e4bbe;
$ice: #43b5eb;

nav {
  background-color: $ice;
}

#header-logo {
  height: 50px;
  margin: 5px 0;
}
