<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper"> <a href="#!" class="brand-logo"><img src=".\assets\polymorph-logo.svg" alt="Navtech logo" id="header-logo"> Polymorph</a>
        <a href="#" materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/" >HOME</a> </li>
          <li><a routerLink="/send" >SEND</a> </li>
          <li><a routerLink="/about" >ABOUT</a></li>
          <li><a routerLink="/contact" >CONTACT</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="side-nav" id="mobile-demo">
    <li><a routerLink="/" >HOME</a> </li>
    <li><a routerLink="/send" >SEND</a> </li>
    <li><a routerLink="/about" >ABOUT</a></li>
    <li><a routerLink="/contact" >CONTACT</a></li>
  </ul>
</header>
