p{
 padding: 0 10px; 
}

a {
  color: #333;
}

a:hover {
  color: hsl(263, 38%, 53%);
}

li {
  line-height: 2;
}

#footer-logo {
  padding: 30px;
  max-height: 150px;
  max-width: 230px;
  width: 100%;
}

.footer-col {
  text-align: left
}

@media (max-width: 600px) {
  .footer-col {
  text-align: center;
  }
}
