<footer class="row red lighten-2 no-bot-margin">
  <div class="col hide-on-med-and-down l3"></div>
  <div class="col s12 m4 l2 footer-col">
    <a routerLink="/"><img src=".\assets\logo-mark.png" alt="Navtech logo" id="footer-logo"></a>
  </div>
  <div class="col s12 m4 l2 footer-col">
    <h5>Links</h5>
    <ul class="row ">
      <li class="col s12"><a routerLink="/" >Home</a> </li>
      <li class="col s12"><a routerLink="/send" >Send</a> </li>
      <li class="col s12"><a routerLink="/about" >About</a></li>
      <li class="col s12"><a routerLink="/contact" >Contact</a></li>
    </ul>
  </div>
  <div class="col s12 m4 l2 footer-col">
    <h5>Legal</h5>
    <p>
      Deserunt culpa in laborum ad mollit fugiat duis cillum anim ullamco 
      dolore nisi. Laborum aliqua nostrud quis nostrud consectetur occaecat 
      proident veniam nisi fugiat id consectetur nulla consectetur.
    </p>
  </div>
  <div class="col hide-on-med-and-down l3"></div>
</footer>