<div class="section bg-blue-dark">
  <div class="row no-margin">
    <div class="container">
      <div class="row no-margin">
        <div class="col l4 s12 center flex-grow margin-bottom-s">
          <a href="https://changelly.com/">
            <div class="tile tile-padding-bot">
              <div class="tile-image">
                <img src="/assets/lock-fuschia.png" />
              </div>
              <h3>Changlly</h3>
              <div class="tile-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col l4 s12 center flex-grow margin-bottom-s">
          <a href="https://navcoin.org/">
            <div class="tile tile-padding-bot">
              <div class="tile-image">
                <img src="/assets/lock-fuschia.png" />
              </div>
              <h3>Nav Coin</h3>
              <div class="tile-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col l4 s12 center flex-grow margin-bottom-s">
          <a href="#">
            <div class="tile tile-padding-bot">
              <div class="tile-image">
                <img src="/assets/lock-fuschia.png" />
              </div>
              <h3>NavTech</h3>
              <div class="tile-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
