@import "../../styles/base.scss";

#container {
  position: relative;
}

.send-buttons {
  text-align: right;
}

.error-message {
  color: $red;
  font-size: 24px;
  text-align: center;
  z-index: 10;
}
