<div [ngClass]="theme">
  <div class="">
    <ul class="row error-message" *ngIf="errors.length > 0">
      <li *ngIf="errors.indexOf('notFound') > -1">Unable to load available currencies from Changelly</li>
      <li *ngIf="errors.indexOf('dataFormat') > -1">Recevied incorrectly formatted data from Changelly</li>
      <li *ngIf="errors.indexOf('orderCreationFailed') > -1">Failed to create a Polymorph order</li>
      <li *ngIf="errors.indexOf('expiredEst') > -1">Your estimate has expired, click send to fetch a new one</li>
      <li *ngIf="errors.indexOf('default') > -1">Error displaying available currencies</li>
    </ul>

    <div class="row" >
      <div class="input-field col s9 no-hoz-spacing">
        <input type="text" name="enter-text-ex" class="input-with-select" [ngClass]="{'invalid': errors.indexOf('invalidTransferAmount') > -1}" [attr.disabled]="isDisabled?true:null" [(ngModel)]="transferAmount" (change)="invalidateEstimate()" />
        <label for="enter-text-ex" [ngClass]="{'active': transferAmount}" >Enter amount</label>
      </div>

      <div class="input-field col s3 no-hoz-spacing">
        <!-- TODO: add error indicator when nav to nav transfer detected. Bug with materialize css select stops us from doing this atm -->
        <select materialize="material_select"  [materializeSelectOptions]="currencies" [(ngModel)]="originCoin" (change)="invalidateEstimate()" name="originCoin" [attr.disabled]="isDisabled?true:null">
          <option *ngFor="let currency of currencies" [value]="currency">{{currency | uppercase}}</option>
        </select>
        <label>Source Coin</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s9 no-hoz-spacing">
        <input type="text" name="enter-text-ex" class="input-with-select"  [ngClass]="{'invalid': errors.indexOf('invalidDestAddress') > -1}" [attr.disabled]="isDisabled?true:null" [(ngModel)]="destAddr" (change)="invalidateEstimate()" />
        <label for="enter-text-ex" [ngClass]="{'active': destAddr}">Enter Destination Address</label>
      </div>

      <div class="input-field col s3 no-hoz-spacing">
        <select materialize="material_select"  [materializeSelectOptions]="currencies" [ngClass]="{'invalid': errors.indexOf('navToNavTransfer') > -1}" [(ngModel)]="destCoin" (change)="invalidateEstimate()" name="destCoin" [attr.disabled]="isDisabled?true:null">
          <option *ngFor="let currency of currencies" [value]="currency">{{currency | uppercase}}</option>
        </select>
        <label>Dest. Coin</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="send-buttons col s12 no-hoz-spacing">
      <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action" (click)="clearFormData()">Clear</button>
      <button *ngIf="!estimateValid" class="btn waves-effect waves-light bg-fuschia lighten-1" type="submit" name="action" routerLink="/send" (click)="storeFormData()">Send
          <i class="material-icons right">send</i>
      </button>
      <button *ngIf="estimateValid" class="btn waves-effect waves-light bg-fuschia lighten-1" type="submit" name="action" routerLink="/send" (click)="createOrder(originCoin, destCoin, destAddr, transferAmount)">Send
          <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>
