<div class="container content">
  <div *ngIf="isLoading">Page Loading</div>
  <div *ngIf="!isLoading">
    <div *ngIf="ipBlocked">
      <h3>IP Address Blocked</h3>
      <div>We've detected suspicious behaviour from your IP Address, so we have temporarily blocked any requests from this address.</div>
    </div>
    
    <div *ngIf="orderFail">
      <h3>Order Not Found</h3>
      <div>Either the Order ID, Password, or both, are incorrect. Please ensure you have the correct Order ID and Password</div>
    </div>

    <div class="" *ngIf="orderSuccess">
      <h2>Order Status</h2>
      <div class="row">
        <div class="col s12 m6" *ngIf="orderStatus === 'CREATED'">
          <div class="">
            Please transfer EXACTLY {{orderAmount}} {{sourceCurrency | uppercase}} in ONE transaction to the following address.<br>
            Transferring an incorrect amount may result in lost currency!
          </div>
          <div>
            <a class="copy-address" ngxClipboard [cbContent]="changellyAddress" (cbOnSuccess)="isCopied = true">
              {{changellyAddress}}<br>
              Click to copy address
            </a> <span *ngIf="isCopied">Copied to clipboard!</span>
          </div>
          <qr-code [value]="changellyAddress" [size]="250"></qr-code>
        </div>


        <div class="col s12 m6">
          <div class="">Status: {{interpretStatus(orderStatus)}}</div>
          <div class="">Changelly Order Number: {{changellyOrderNumber}}</div>
          <div class="">Amount Due: {{orderAmount}} {{sourceCurrency | uppercase}}</div>
          <div class=""><span *ngIf="orderStatus === 'CREATED'">(If sent now) </span>Should arrive in: {{waitTimeLow.toLocaleString()}} ~ {{waitTimeHigh.toLocaleString()}}</div>
          <div class="">Est. Fee: {{estFee}}</div>
          <div *ngIf="sourceCurrency === destCurrency">Currency: {{sourceCurrency | uppercase}}</div>
          <div *ngIf="sourceCurrency !== destCurrency">
            <div class="">Source Currency: {{sourceCurrency | uppercase}}</div>
            <div class="">Dest Currency: {{destCurrency | uppercase}}</div>
          </div>
          <button class="btn waves-effect waves-light bg-blue" type="submit" 
            name="action" (click)=abandonOrder() *ngIf="orderStatus === 'CREATED'">
            Cancel Order
          </button>

        </div>
        <div class="">
          <a href="https://polymorph.freshdesk.com/support/login" target="_blank">If you have any issues, click here for our help desk.</a>
        </div>

        <div class="">
          <a [href]="'mailto:example@email.com&subject=Polymorph%20Order%20ID%20and%20Password&body=Polymorph%20ID:'
          + orderId + '.%20Polymorph%20Password:%20' + orderPass + '%20.'">Click here to send orderID and Password to an email address</a>
          <div>If you want to be able to view the status of your order, you will need to navigate to the page again, so bookmark this page or note down the id and password in the url.</div>
        </div>
      </div>
    </div>

    <div *ngIf="beginAbandonOrder">
      Attempting to abandon order: {{orderId}}<br>
      {{abandonStatus}}
    </div>

  </div>
</div>
