@import '../styles/base.scss';

/**** FORM LIGHT *******/

.input-field {
  &.input-with-select {
    input {
      border-top-right-radius: 0;
    }
  }

  input, textarea {
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $grey-form;
  }

  label {
    left: 20px;
  }

  label:not(.label-icon).active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-175%);
    transform: translateY(-175%);
    color: $ice;
  }
  input[type=text]:focus:not([readonly]), textarea:focus:not([readonly]) {
    border-bottom: 1px solid $ice;
    box-shadow: none;
  }
}

.input-field /deep/ .select-wrapper {
  color: $grey-form;
}

.input-field /deep/ .select-wrapper + label {
  top: -20px;
  color: $ice;
}

.input-field /deep/ .select-wrapper input.select-dropdown {
  background-color: rgba(255,255,255,0.2);
  border-top-right-radius: 5px;
  padding-left: 12px;
}

 .input-field /deep/ .select-wrapper  span.caret {
  right: 10px;
  color: $grey-form;
}

.demo-send-buttons {
  text-align: right;
  padding-right: 20px;
}

.input-field /deep/ .select-wrapper .dropdown-content li > span {
  color: $blue;
}

/**** FORM DARK *******/

.form-dark {
  .input-field {
    textarea {
      padding: 10px;
    }
    input, textarea {
      background-color: rgba(14,75,190,0.1);
      border-top-left-radius: 5px;
      color: $black;
    }
    label {
      left: 20px;
      color: $black;
    }

    label:not(.label-icon).active {
      font-size: 0.8rem;
      -webkit-transform: translateY(-175%);
      transform: translateY(-175%);
      color: $blue;
    }
    input[type=text]:focus:not([readonly]), textarea:focus:not([readonly]) {
      border-bottom: 1px solid $black;
      box-shadow: none;
    }
  }

  .input-field /deep/ .select-wrapper {
    color: $black;
  }

  .input-field /deep/ .select-wrapper + label {
    top: -20px;
    color: $blue;
  }

  .input-field /deep/ .select-wrapper input.select-dropdown {
    background-color: rgba(14,75,190,0.1);
    border-top-right-radius: 5px;
    padding-left: 12px;
    border-left: none;
  }

   .input-field /deep/ .select-wrapper  span.caret {
    right: 10px;
    color: $black;
  }

  .demo-send-buttons {
    text-align: right;
    padding-right: 20px;
  }

  .input-field /deep/ .select-wrapper .dropdown-content li > span {
    color: $black;
  }
}


/**** TILES *******/

.tile {
  background-color: $white;
}

.tile-image {
  padding: 20px 20px 0 20px;
  img {
    max-width: 100%;
  }
}

.tile-text {
  padding: 0 20px;
  color: $black;
}

.tile-button {
  .btn {
    border-radius: 0;
  }
}
