<!--<div class="section bg-nav-blue flex-row">
  
  <div class="flex-col flex-justify-center">
    <div class="grow-1 mob-hdn"></div>
    <div class="grow-1 bg-white section-main">
      <h3>Send Coin</h3>
      <div class="flex-row">  
        <div class="flex-col flex-wrap">
          <md-input-container class="input-std"><input mdInput type="text" placeholder="Enter Amount"> </md-input-container>
          <md-select placeholder="Pick a coin" [(ngModel)]="initialCoin" name="initialCoin" class="align-md-select">
            <md-option *ngFor="let coin of coins" [value]="coin">
              {{coin}}
            </md-option>
          </md-select>
        </div>
        <div class="flex-col flex-wrap">
          <md-input-container class="input-std"><input mdInput type="text" placeholder="Enter Destination Address"> </md-input-container>
          <md-select placeholder="Pick a coin" [(ngModel)]="destinationCoin" name="destinationCoin" class="align-md-select">
            <md-option *ngFor="let coin of coins" [value]="coin">
              {{coin}}
            </md-option>
          </md-select>
        </div>
        <button md-raised-button color="accent">Send Coins!!</button> 
        <button md-raised-button class="btn-small" >Clear</button>
      </div>
    </div> 
    <div class="grow-1 mob-hdn"></div>
  </div>
</div>-->

<div class="section bg-nav-blue flex-row">
  <div class="flex-col">
    <div class="grow-1 mob-hdn"></div>
    <div class="grow-1 bg-white section-main">
      <h3>Buttons</h3>
        <div class="flex-col">

          <div class="flex-row grow-1">
            <button class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button><br>
            <button class="btn waves-effect waves-light disabled" type="submit" name="action">Disabled
              <i class="material-icons right">send</i>
            </button><br>
            <button class="btn waves-effect waves-light purple" type="submit" name="action">Accent
              <i class="material-icons right">send</i>
            </button><br>
            <button class="btn waves-effect waves-light btn-flat" type="submit" name="action">Flat
              <i class="material-icons right">send</i>
            </button>
          </div>

          <div class="flex-row grow-1">
            <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Large</button><br>
            <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Small</button><br>
            <button class="btn waves-effect waves-light btn-wide" type="submit" name="action">Wide</button><br>
             <button class="btn waves-effect waves-light btn-flat disabled" type="submit" name="action">Disabled
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
    </div>
    <div class="grow-1 mob-hdn"></div>
  </div>
</div>
  
<!--<div class="section bg-nav-blue flex-row">
  <div class="flex-col">
    <div class="grow-1 mob-hdn"></div>
      <div class="grow-1 bg-white section-main">
      <h1>Form Fields</h1>
      <div class="">
        <div class="flex-col flex-wrap">
          <h3 class="input-label">Input and select</h3>
          <md-input-container  floatPlaceholder="never" class="input-std"><input mdInput type="text" placeholder="Enter Text Here"> </md-input-container>
          <md-select placeholder="Pick a coin" [(ngModel)]="selected" name="selected" class="align-md-select"  floatPlaceholder="never">
            <md-option *ngFor="let coin of coins" [value]="coin">
              {{coin}}
            </md-option>
          </md-select>
        </div>
        <md-input-container class="textareaContainer center flex-col"> <textarea mdInput placeholder="Enter Text Here" class="center" ></textarea> </md-input-container> <br>
      </div>
    </div>
    <div class="grow-1 mob-hdn"></div>
  </div>
</div>-->

<div class="section bg-nav-blue flex-row">
  <div class="flex-col">
    <div class="grow-1 mob-hdn"></div>
    <div class="grow-1 bg-white section-main">
      <h3>Text</h3>
      <div class="flex-row">
        <h1 class="txt-nav-blue">Header 1</h1>
        <h2 class="txt-nav-purp">Header 2</h2>
        <h3 class="">Header 3</h3>
        <p>Paragraph: Proident tempor duis enim est eu. Eu magna laborum ullamco fugiat. Sit ad velit commodo culpa deserunt magna id adipisicing. Consectetur nostrud in ex labore occaecat.</p>
      </div>
    </div>    
    <div class="grow-1 mob-hdn"></div>
  </div>
</div>