<div class="section bg-nav-blue flex-row">
  
  <div class="flex-col">
    <div class="grow-1 bg-med-grey"></div>
    <md-card class="grow-3 bg-light-grey section-main">
      <md-card-title>Buttons</md-card-title>
      <md-card-content>
        <button md-raised-button >Default</button> <br>
        <button md-raised-button disabled>Disabled</button> <br>
        <button md-raised-button color="accent">Click Me</button> <br>
        <button md-raised-button class="btn-small">Small</button> <br>
        <button md-raised-button class="btn-wide">Wide</button>
      </md-card-content>
    </md-card>
      
    <div class="grow-1 bg-med-grey"></div>
  </div>
  
<!--  
  <div class="grow-3"><h2>Form Fields</h2>
    <form action="">
      <input type="text">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <select name="" id=""></select>
    </form>
  </div>

  <div class="grow-3"><h3>Text</h3>

  
  </div>-->
  
</div>