<div class="section parallax-container" id="demo-hero">
  <div class="parallax" materialize="parallax"><img src="./assets/polymorph-background.jpg"></div>
  <div class="container form-light">
    <img alt="Navtech logo" id="header-logo" src=".\assets\polymorph-logo.svg" />
    <div class="row">
      <div class="col l8 m10 s12 push-l2 push-m1">
        <div class="row">
          <div class="input-field col s9 no-hoz-spacing">
            <input type="text" name="enter-text-ex" class="input-with-select" />
            <label for="enter-text-ex">Enter amount</label>
          </div>
          <div class="input-field col s3 no-hoz-spacing">
            <select materialize="material_select" [(ngModel)]="selected" name="selected" class="">
              <option *ngFor="let coin of coins" [value]="coin.ticker">{{coin.ticker}}</option>
            </select>
            <label>Source Coin</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s9 no-hoz-spacing">
            <input type="text" name="enter-text-ex" class="input-with-select" />
            <label for="enter-text-ex">Enter Destination Address</label>
          </div>
          <div class="input-field col s3 no-hoz-spacing">
            <select materialize="material_select" [(ngModel)]="selected" name="selected" class="">
              <option *ngFor="let coin of coins" [value]="coin.ticker">{{coin.ticker}}</option>
            </select>
            <label>Dest. Coin</label>
          </div>
        </div>
        <div class="row">
          <div class="demo-send-buttons col s12 no-hoz-spacing">
            <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action">Clear</button>
            <button class="btn waves-effect waves-light bg-fuschia lighten-1" type="submit" name="action">Send
                <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg-white">
  <div class="row">
    <div class="container text-center-m">
      <div class="row no-margin flex-row no-flex-m">
        <div class="col l4 s12 center flex-grow">
          <img src="/assets/lock-blue.png" />
        </div>
        <div class="col l8 s12">
          <h2>Send any coins privately</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
          <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action">Small</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg-blue-dark">
  <div class="row">
    <div class="container text-center-m">
      <div class="row no-margin flex-row no-flex-m">
        <div class="col l4 s12 center flex-grow show-m">
          <img src="/assets/lock-blue.png" />
        </div>
        <div class="col l8 m12 s12 text-right-l text-center-m">
          <h2>Send any coins privately</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
          <button class="btn waves-effect waves-light btn-small bg-fuschia" type="submit" name="action">Small</button>
        </div>
        <div class="col l4 m12 s12 center flex-grow hide-m">
          <img src="/assets/lock-blue.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg-white">
  <div class="row">
    <div class="container text-center-m">
      <div class="row no-margin flex-row no-flex-m">
        <div class="col l6 m12 s12 center flex-grow">
          <img src="/assets/diagram.png" />
        </div>
        <div class="col l6 m12 s12">
          <h2>Send any coins privately</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
          <button class="btn waves-effect waves-light btn-small bg-fuschia" type="submit" name="action">Small</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg-blue-dark">
  <div class="row no-margin">
    <div class="container">
      <div class="row no-margin flex-row no-flex-m">
        <div class="col l4 s12 center flex-grow margin-bottom-m">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-blue.png" />
            </div>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tile-button">
              <button class="btn waves-effect waves-light btn-wide btn-large bg-blue" type="submit" name="action">Click Me</button>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12 center flex-grow margin-bottom-s">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-blue.png" />
            </div>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tile-button">
              <button class="btn waves-effect waves-light btn-wide btn-large bg-blue" type="submit" name="action">Click Me</button>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12 center flex-grow">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-blue.png" />
            </div>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tile-button">
              <button class="btn waves-effect waves-light btn-wide btn-large bg-blue" type="submit" name="action">Click Me</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg-fuschia-dark">
  <div class="row no-margin">
    <div class="container">
      <div class="row no-margin flex-row no-flex-m">
        <div class="col l4 s12 center flex-grow margin-bottom-m">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-fuschia.png" />
            </div>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tile-button">
              <button class="btn waves-effect waves-light btn-wide btn-large bg-fuschia" type="submit" name="action">Click Me</button>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12 center flex-grow margin-bottom-s">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-fuschia.png" />
            </div>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tile-button">
              <button class="btn waves-effect waves-light btn-wide btn-large bg-fuschia" type="submit" name="action">Click Me</button>
            </div>
          </div>
        </div>
        <div class="col l4 m6 s12 center flex-grow">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-fuschia.png" />
            </div>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tile-button">
              <button class="btn waves-effect waves-light btn-wide btn-large bg-fuschia" type="submit" name="action">Click Me</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section bg-white">
  <div class="row no-margin">
    <div class="container">
      <div class="form-dark">
        <h2>Form Fields</h2>
        <h5>Input and select</h5>
        <div class="row no-margin">
          <div class="input-field col s9 no-hoz-spacing">
            <input type="text" name="enter-text-ex" class="input-with-select" />
            <label for="enter-text-ex">Enter Text Here</label>
          </div>
          <div class="input-field col s3 no-hoz-spacing">
            <select materialize="material_select" [(ngModel)]="selected" name="selected" class="">
              <option *ngFor="let coin of coins" [value]="coin.ticker">{{coin.ticker}}</option>
            </select>
            <label>Source Coin</label>
          </div>
        </div>
        <div class="row no-margin">
          <div class="input-field col s9 no-hoz-spacing">
            <input type="text" name="enter-text-ex" class="input-with-select" />
            <label for="enter-text-ex">Enter Text Here</label>
          </div>
          <div class="input-field col s3 no-hoz-spacing">
            <select materialize="material_select" [(ngModel)]="selected" name="selected" class="">
              <option *ngFor="let coin of coins" [value]="coin.ticker">{{coin.ticker}}</option>
            </select>
            <label>Source Coin</label>
          </div>
        </div>
        <div class="row no-margin">
          <h5>Text Area</h5>
          <div class="input-field col s12 no-hoz-spacing">
            <textarea id="textarea-ex" class="materialize-textarea" ></textarea>
            <label for="textarea-ex">I'm a textarea</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section row bg-grey-light">
  <div class="col hide-on-small-only m1 l2"> </div>
  <div class="col s12 m10 l8">
    <h2 class="col s12">Buttons</h2>
    <div class="row col s12">
      <div class="col s12 m6">
        <button class="btn waves-effect waves-light bg-blue lighten-1" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button><br><br>
        <button class="btn waves-effect waves-light disabled" type="submit" name="action">Disabled
          <i class="material-icons right">send</i>
        </button><br><br>
        <button class="btn waves-effect waves-light bg-fuschia" type="submit" name="action">Accent
          <i class="material-icons right">send</i>
        </button><br><br>
        <button class="btn waves-effect waves-light btn-flat" type="submit" name="action">Flat
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="col s12 m6">
        <button class="btn waves-effect waves-light btn-large bg-blue" type="submit" name="action">Large</button><br><br>
        <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action">Small</button><br><br>
        <button class="btn waves-effect waves-light btn-wide bg-blue" type="submit" name="action">Wide</button><br><br>
          <button class="btn waves-effect waves-light btn-flat disabled" type="submit" name="action">Disabled
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
  <div class="col hide-on-small-only m1 l2"> </div>
</div>



<div class="section row bg-grey-light no-bot-margin">
  <div class="col hide-on-small-only m1 l2"> </div>
  <div class="col s12 m10 l8">
    <h3>Text</h3>
    <div class="row">
      <h1 class="txt-blue">Header 1</h1>
      <h2 class="txt-purp">Header 2</h2>
      <h3 class="">Header 3</h3>
      <p>Paragraph: Proident tempor duis enim est eu. Eu magna laborum ullamco fugiat. Sit ad velit commodo culpa deserunt magna id adipisicing. Consectetur nostrud in ex labore occaecat.</p>
    </div>
  </div>
  <div class="col hide-on-small-only m1 l2"> </div>
</div>
