<hero-banner-section></hero-banner-section>

<div class="section bg-white">
  <div class="container text-center-m">
    <div class="row no-margin flex-row no-flex-m">
      <div class="col l4 s12 center flex-grow">
        <img src="/assets/lock-blue.png" />
      </div>
      <div class="col l8 s12">
        <h2>Send any coins privately</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action">Small</button>
      </div>
    </div>
  </div>
</div>

<div class="section bg-blue-dark">
  <div class="container text-center-m">
    <div class="row no-margin flex-row no-flex-m">
      <div class="col l4 s12 center flex-grow show-m">
        <img src="/assets/lock-blue.png" />
      </div>
      <div class="col l8 m12 s12 text-right-l text-center-m">
        <h2>Send any coins privately</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <button class="btn waves-effect waves-light btn-small bg-fuschia" type="submit" name="action">Small</button>
      </div>
      <div class="col l4 m12 s12 center flex-grow hide-m">
        <img src="/assets/lock-blue.png" />
      </div>
    </div>
  </div>
</div>

<div class="section bg-white">
  <div class="container text-center-m">
    <div class="row no-margin flex-row no-flex-m">
      <div class="col l6 m12 s12 center flex-grow">
        <img src="/assets/diagram.png" />
      </div>
      <div class="col l6 m12 s12">
        <h2>Send any coins privately</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <button class="btn waves-effect waves-light btn-small bg-fuschia" type="submit" name="action">Small</button>
      </div>
    </div>
  </div>
</div>

<div class="section bg-blue-light free-tiles">
  <div class="container">
    <div class="row no-margin">
      <div class="col l4 s12 center flex-grow margin-bottom-m">
        <a href="http://google.com" target="e" class="tile-link">
          <tile-component
            title="My Tile"
            text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
            buttonText="DOWNLOAD"
            icon="/assets/lock-fuschia.png"
            theme="tile-fuschia-white"
          ></tile-component>
        </a>
      </div>
      <div class="col l4 m6 s12 center flex-grow margin-bottom-m">
        <tile-component
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          buttonText="TEST"
          icon="/assets/lock-blue.png"
          theme="tile-blue-white"
        ></tile-component>
      </div>
      <div class="col l4 m6 s12 center flex-grow">
        <tile-component
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          title="My Tile"
          theme="tile-blue"
        ></tile-component>
      </div>
    </div>
  </div>
</div>

<div class="section bg-fuschia-dark">
  <div class="container">
    <div class="row no-margin">
      <div class="col l4 s12 center flex-grow margin-bottom-m">
        <a href="http://google.com" target="e" class="tile-link">
          <tile-component
            title="My Tile"
            text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
            buttonText="DOWNLOAD"
            icon="/assets/lock-fuschia.png"
            theme="tile-fuschia-white"
          ></tile-component>
        </a>
      </div>
      <div class="col l4 m6 s12 center flex-grow margin-bottom-m">
        <a href="http://google.com" target="e" class="tile-link">
          <tile-component
            title="My Tile"
            text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
            buttonText="DOWNLOAD"
            icon="/assets/lock-fuschia.png"
            theme="tile-fuschia-white"
          ></tile-component>
        </a>
      </div>
      <div class="col l4 m6 s12 center flex-grow">
        <a href="http://google.com" target="e" class="tile-link">
          <tile-component
            title="My Tile"
            text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
            buttonText="DOWNLOAD"
            icon="/assets/lock-fuschia.png"
            theme="tile-fuschia-white"
          ></tile-component>
        </a>
      </div>
    </div>
  </div>
</div>

<selling-points-section></selling-points-section>

<div class="section bg-blue-dark">
  <div class="container">
    <h2 class="text-center no-margin">Send any coins privately</h2>
    <div class="row no-margin">
      <div class="col l4 s12 center flex-grow margin-bottom-m">
        <tile-component
          title="My Tile"
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          theme="tile-blue"
        ></tile-component>
      </div>
      <div class="col l4 m6 s12 center margin-bottom-m flex-grow">
        <tile-component
          title="My Tile"
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          theme="tile-blue"
        ></tile-component>
      </div>
      <div class="col l4 m6 s12 center flex-grow">
        <tile-component
          title="My Tile"
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          theme="tile-blue"
        ></tile-component>
      </div>
    </div>
  </div>
</div>

<div class="section bg-white">
  <div class="container">
    <div class="form-dark">
      <h2>Form Fields</h2>
      <h5>Input and select</h5>
      <div class="row no-margin">
        <div class="input-field col s9 no-hoz-spacing">
          <input type="text" name="enter-text-ex" class="input-with-select" />
          <label for="enter-text-ex">Enter Text Here</label>
        </div>
        <div class="input-field col s3 no-hoz-spacing">
          <select materialize="material_select" [(ngModel)]="selected" name="selected" class="">
            <option *ngFor="let coin of coins" [value]="coin.ticker">{{coin.ticker}}</option>
          </select>
          <label>Source Coin</label>
        </div>
      </div>
      <div class="row no-margin">
        <div class="input-field col s9 no-hoz-spacing">
          <input type="text" name="enter-text-ex" class="input-with-select" />
          <label for="enter-text-ex">Enter Text Here</label>
        </div>
        <div class="input-field col s3 no-hoz-spacing">
          <select materialize="material_select" [(ngModel)]="selected" name="selected" class="">
            <option *ngFor="let coin of coins" [value]="coin.ticker">{{coin.ticker}}</option>
          </select>
          <label>Source Coin</label>
        </div>
      </div>
      <div class="row no-margin">
        <h5>Text Area</h5>
        <div class="input-field col s12 no-hoz-spacing">
          <textarea id="textarea-ex" class="materialize-textarea" ></textarea>
          <label for="textarea-ex">I'm a textarea</label>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section bg-grey-light">
    <div class="container">
      <h2 class="">Buttons</h2>
      <div class="row no-margin">
        <div class="col s12 m6">
          <button class="btn waves-effect waves-light bg-blue lighten-1" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button><br><br>
          <button class="btn waves-effect waves-light disabled" type="submit" name="action">Disabled
            <i class="material-icons right">send</i>
          </button><br><br>
          <button class="btn waves-effect waves-light bg-fuschia" type="submit" name="action">Accent
            <i class="material-icons right">send</i>
          </button><br><br>
          <button class="btn waves-effect waves-light btn-flat" type="submit" name="action">Flat
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class="col s12 m6">
          <button class="btn waves-effect waves-light btn-large bg-blue" type="submit" name="action">Large</button><br><br>
          <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action">Small</button><br><br>
          <button class="btn waves-effect waves-light btn-wide bg-blue" type="submit" name="action">Wide</button><br><br>
            <button class="btn waves-effect waves-light btn-flat disabled" type="submit" name="action">Disabled
            <i class="material-icons right">send</i>
          </button>
        </div>
    </div>
  </div>
</div>

<legal-section></legal-section>
