<div class="section bg-blue-dark">
  <div class="container">
    <div class="row no-margin">
      <div class="col l4 s12 center flex-grow margin-bottom-m">
        <a href="https://navcoin.org" target="e" class="tile-link">
          <tile-component
            text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
            icon="/assets/lock-blue.png"
            title="Nav Coin"
            theme="tile-blue-white"
            buttonText="VISIT SITE"
          ></tile-component>
        </a>
      </div>
      <div class="col l4 m6 s12 center flex-grow margin-bottom-m">
        <a href="https://changelly.com" target="e" class="tile-link">
          <tile-component
            text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
            icon="/assets/lock-blue.png"
            title="Changelly"
            theme="tile-blue-white"
            buttonText="VISIT SITE"
          ></tile-component>
        </a>
      </div>
      <div class="col l4 m6 s12 center flex-grow">
        <a href="https://navtechservers.com" target="e" class="tile-link">
          <tile-component
            text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
            icon="/assets/lock-blue.png"
            title="Nav Tech"
            theme="tile-blue-white"
            buttonText="VISIT SITE"
          ></tile-component>
        </a>
      </div>
    </div>
  </div>
</div>
