@import "../../styles/base.scss";

#info-text {
  text-align: justify;
  padding-bottom: 15px;
}

p {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.section {
  padding-top: 120px;
}
