<footer class="section bg-blue">
  <div class="container">
    <div class="row no-margin">
      <div class="col s12 m4 center flew-row no-flex-m">
        <a routerLink="/">
          <img src=".\assets\polymorph-symbol.svg" alt="Polymorph logo">
        </a>
      </div>
      <div class="col s12 m4">
        <h4 class="txt-white">Links</h4>
        <ul>
          <li ><a routerLink="/" class="txt-white">Home</a> </li>
          <li ><a routerLink="/send" class="txt-white">Send</a> </li>
          <li ><a routerLink="/about" class="txt-white">About</a></li>
          <li ><a href="https://polymorph.freshdesk.com" target="_blank" class="txt-white">Contact</a></li>
        </ul>
      </div>
      <div class="col s12 m4">
        <h4 class="txt-white">Legal</h4>
        <p class="txt-white">
          Deserunt culpa in laborum ad mollit fugiat duis cillum anim ullamco
          dolore nisi. Laborum aliqua nostrud quis nostrud consectetur occaecat
          proident veniam nisi nulla consectetur.
        </p>
      </div>
    </div>
  </div>
</footer>
