<div class="flex section bg-blue" id="images-text">
  
  <div class="center">
    <div class="center fake-circle-image bg-black"></div>
    <h1 class="txt-white txt-center">Navcoin is place</h1>
    <p style="text-align: center;">Here's an image with a heading!</p>
  </div>

  <div class="center">
    <div class="center fake-circle-image bg-black"></div>
    <h1 class="txt-white txt-center">Navcoin is holder</h1>
    <p style="text-align: center;">Here's an image with a heading!</p>
  </div>

  <div class="center">
    <div class="center fake-circle-image bg-black"></div>
    <h1 class="txt-white txt-center">Navcoin is text</h1>
    <p style="text-align: center;">Here's an image with a heading!</p>
  </div>
 
</div>

