<div class="section bg-white">
  <div class="container text-center-m">
    <div class="row no-margin flex-row no-flex-m">
      <div class="col l6 m12 s12 center flex-grow">
        <img src="/assets/diagram.png" />
      </div>
      <div class="col l6 m12 s12">
        <h2>Send any coins privately</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est interdum, tempus urna id, consequat velit. Pellentesque finibus massa eget mi sollicitudin, non rhoncus dui euismod. Mauris rutrum orci nulla, scelerisque bibendum elit faucibus a.</p>
        <button class="btn waves-effect waves-light btn-small bg-fuschia" type="submit" name="action">Small</button>
      </div>
    </div>
  </div>
</div>
