<div class="container row">
  <h3 class="col s12 center">How It Works</h3>
  <video class="col s8 bg-black" src=""></video>
  <div class="row col s4">
    <div class="col s12" id="info-text">
      Laboris et nostrud fugiat ullamco cillum esse pariatur aliqua nulla. Ex labore fugiat laborum velit ipsum deserunt eu minim quis consectetur id. 
      Minim sunt quis duis et nisi incididunt consectetur est irure minim magna ea. Est ex laboris ullamco et aute aute sint commodo laboris quis. 
      Consectetur esse veniam qui non magna nostrud cillum officia deserunt dolore. Eu voluptate ad minim pariatur adipisicing. Aliquip tempor id 
      nostrud nostrud ut duis aute magna pariatur ullamco. Laboris et nostrud fugiat ullamco cillum esse pariatur aliqua nulla. Ex labore fugiat 
      laborum velit ipsum deserunt eu minim quis consectetur id. Minim sunt quis duis et nisi incididunt consectetur est irure minim magna ea. 
      Est ex laboris ullamco et aute aute sint commodo laboris quis. Consectetur esse veniam qui non magna nostrud cillum officia deserunt dolore. 
      Eu voluptate est irure minimullamco et aute qui non magna pariatur nostruduis.
      </div>
      <a class="col s12 btn waves-effect waves-light bg-nav-blue lighten-1" routerLink="/about"> More Info</a>
  </div>
</div>

