<div class="section bg-blue-light">
  <div class="container">
    <div class="row no-margin">
      <div class="col l4 s12 center flex-grow margin-bottom-m">
        <tile-component
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          title="My Tile"
          theme="tile-blue"
        ></tile-component>
      </div>
      <div class="col l4 m6 s12 center flex-grow margin-bottom-m">
        <tile-component
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          title="My Tile"
          theme="tile-blue"
        ></tile-component>
      </div>
      <div class="col l4 m6 s12 center flex-grow">
        <tile-component
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          title="My Tile"
          theme="tile-blue"
        ></tile-component>
      </div>
    </div>
  </div>
</div>
