<div class="section bg-cool-grey">
  <div class="container">
    <div class="row no-margin center">
      <!-- <div class="center"> -->
      <h2 class="montserrat heading-md txt-dark-purple">In 3 Easy Steps</h2>
      <h4 class="montserrat txt-light-purple">First thing you need to do is insert your coin</h4>
      <!-- <div> -->
    </div>
    <div class="row" id="box-row">
      <div class="col l4 s12 center flex-grow margin-bottom-m">
        <tile-component
          title="Step 1"
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          theme="tile-white"
        ></tile-component>
      </div>
      <div class="col l4 m6 s12 center flex-grow margin-bottom-m">
        <tile-component
          title="Step 2"
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          theme="tile-white"
        ></tile-component>
      </div>
      <div class="col l4 m6 s12 center flex-grow">
        <tile-component
          title="Step 3"
          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
          icon="/assets/lock-blue.png"
          theme="tile-white"
        ></tile-component>
      </div>
    </div>
  </div>
</div>
