/*** FORM GENERIC ****/

  label:not(.label-icon).active {
    margin-bottom: 50px;
  }

/**** FORM LIGHT *******/

.form-light {
  .input-field {
    input, textarea {
      background-color: rgba(255,255,255,0.2);
      color: $grey-form;
      padding: 0 10px;
      width: calc(100% - 20px)
    }

    label:not(.label-icon).active {
      top: -10px;
      color: $ice;
    }
    input[type=text]:focus:not([readonly]), textarea:focus:not([readonly]){
      border-bottom: 1px solid $ice;
    }
  }

  .input-field /deep/ .select-wrapper {
    color: $grey-form;
  }

  .input-field /deep/ .select-wrapper + label {
    top: -36px;
    color: $ice;
  }

  .input-field /deep/ .select-wrapper input.select-dropdown {
    background-color: rgba(255,255,255,0.2);
  }

   .input-field /deep/ .select-wrapper  span.caret {
    color: $grey-form;
  }

  .input-field /deep/ .select-wrapper .dropdown-content li > span {
    color: $blue;
  }
}

/**** FORM DARK *******/

.form-dark {
  .input-field {
    input, textarea {
      background-color: rgba(14,75,190,0.1);
      color: $black;
      padding: 0 10px;
      width: calc(100% - 20px)
    }
    label {
      color: $black;
    }

    input[type=text]:disabled + label {
      color: rgba(0, 0, 0, 0.26);
    }

    label:not(.label-icon).active {
      top: -10px;
      color: $blue;
    }
    input[type=text]:focus:not([readonly]), textarea:focus:not([readonly]) {
      border-bottom: 1px solid $black;
    }
  }

  .input-field /deep/ .select-wrapper {
    color: $black;
  }

  .input-field /deep/ .select-wrapper + label {
    top: -36px;
    color: $blue;
  }

  .input-field /deep/ .select-wrapper input.select-dropdown {
    background-color: rgba(14,75,190,0.1);
  }

   .input-field /deep/ .select-wrapper  span.caret {
    color: $black;
  }

  .input-field /deep/ .select-wrapper .dropdown-content li > span {
    color: $black;
  }
}
