<div id="container" [ngClass]="theme">

  <loader-component *ngIf="pageLoading" [theme]="loaderTheme"></loader-component>

  <div class="">
    <ul class="row error-message" *ngIf="errors.length > 0">
      <li *ngIf="errors.indexOf('NOT_FOUND') > -1">Unable to load available currencies from Changelly</li>
      <li *ngIf="errors.indexOf('DATA_FORMAT') > -1">Recevied incorrectly formatted data from Changelly</li>
      <li *ngIf="errors.indexOf('ORDER_CREATION_FAILED') > -1">Failed to create a Polymorph order</li>
      <li *ngIf="errors.indexOf('MAINTENANCE_MODE') > -1">Maintenance Mode is currently active, creation of new orders is disabled</li>
      <li *ngIf="errors.indexOf('EXPIRED_EST') > -1">Your estimate has expired, click send to fetch a new one</li>
      <li *ngIf="errors.indexOf('DEFAULT') > -1">Error displaying available currencies</li>
    </ul>

    <div class="row">
      <div class="input-field col s9 no-hoz-spacing">
        <input type="text" name="enter-text-ex" class="input-with-select" [ngClass]="{'invalid': errors.indexOf('INVALID_TRANSFER_AMOUNT') > -1}"
          [attr.disabled]="isDisabled?true:null" [(ngModel)]="transferAmount" (ngModelChange)="modelUpdated('AMOUNT')" />
        <label for="enter-text-ex" [ngClass]="{'active': transferAmount}">Enter amount</label>
      </div>

      <div class="input-field col s3 no-hoz-spacing">
        <!-- TODO: add error indicator when nav to nav transfer detected. Bug with materialize css select stops us from doing this atm -->
        <select materialize="material_select" [materializeSelectOptions]="currencies" [(ngModel)]="originCoin" (change)="invalidateEstimate()"
          name="originCoin" [attr.disabled]="isDisabled?true:null">
          <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
        </select>
        <label>Source Coin</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s9 no-hoz-spacing">
        <input type="text" name="enter-text-ex" class="input-with-select" [ngClass]="{'invalid': errors.indexOf('INVALID_DEST_ADDRESS') > -1}"
          [attr.disabled]="isDisabled?true:null" [(ngModel)]="destAddr" (ngModelChange)="modelUpdated('ADDRESS')" />
        <label for="enter-text-ex" [ngClass]="{'active': destAddr}">Enter Destination Address</label>
      </div>


      <div class="input-field col s3 no-hoz-spacing">
        <select materialize="material_select" [materializeSelectOptions]="currencies" [ngClass]="{'invalid': errors.indexOf('NAV_TO_NAV_TRANSFER') > -1}"
          [(ngModel)]="destCoin" (change)="invalidateEstimate()" name="destCoin" [attr.disabled]="isDisabled?true:null">
          <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
        </select>
        <label>Dest. Coin</label>
      </div>
    </div>
  </div>
  <div class="row">
    <span>1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX</span>
  </div>

  <div class="row">
    <div class="send-buttons col s12 no-hoz-spacing">
      <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action" (click)="clearFormData()">Clear</button>
      <button *ngIf="!estimateValid" [ngClass]="{'disabled' : formNotFilled}" class="btn waves-effect waves-light bg-fuschia lighten-1"
        type="submit" name="action" routerLink="/send" (click)="storeFormData()">Estimate
        <i class="material-icons right">send</i>
      </button>
      <button *ngIf="estimateValid" [ngClass]="{'disabled' : maintenanceMode$ | async }" class="btn waves-effect waves-light bg-fuschia lighten-1"
        type="submit" name="action" (click)="createOrder(originCoin, destCoin, destAddr, transferAmount)">Send Payment
        <i class="material-icons right">send</i>
      </button>
    </div>
    inMaintenanceMode : {{ inMaintenanceMode }}
    <br /> maintenanceMode$ : {{ maintenanceMode$ | async }}
    <br /> staticMaintenceMode : {{ canSend() }}
    <br />
  </div>
</div>