<div class="section bg-blue-light free-tiles">
  <div class="container">
    <div class="row no-margin">
      <div class="col l4 s12 center flex-grow margin-bottom-s">
        <div class="tile">
          <div class="tile-image">
            <img src="/assets/lock-blue.png" />
          </div>
          <h3>It's Private</h3>
          <div class="tile-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
      </div>
      <div class="col l4 s12 center flex-grow margin-bottom-s">
        <div class="tile">
          <div class="tile-image">
            <img src="/assets/lock-blue.png" />
          </div>
          <h3>Fast &amp; Secure</h3>
          <div class="tile-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
      </div>
      <div class="col l4 s12 center flex-grow margin-bottom-s">
        <div class="tile">
          <div class="tile-image">
            <img src="/assets/lock-blue.png" />
          </div>
          <h3>Multiple currencies</h3>
          <div class="tile-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
