<div class="section bg-blue-light">
  <div class="row no-margin">
    <div class="container">
      <div class="row no-margin">
        <div class="col l4 s12 center flex-grow margin-bottom-s">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-fuschia.png" />
            </div>
            <h3>Nav Tech</h3>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
          </div>
        </div>
        <div class="col l4 s12 center flex-grow margin-bottom-s">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-fuschia.png" />
            </div>
            <h3>Changlly</h3>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
          </div>
        </div>
        <div class="col l4 s12 center flex-grow margin-bottom-s">
          <div class="tile">
            <div class="tile-image">
              <img src="/assets/lock-fuschia.png" />
            </div>
            <h3>Polymorph</h3>
            <div class="tile-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
