<!--<div class="flex section bg-med-grey" id="trade-sect">

  <div class="grow-1"></div>
  <md-card class="center grow-1">
    <div class="flex">
      <md-input-container class="grow-1">
        <input mdInput placeholder="Amount" [(ngModel)]="convertedCoin">
      </md-input-container>
            
      <md-select placeholder="Currency" [(ngModel)]="selectedOriginCoin" class="">
        <md-option *ngFor="let coin of cryptoCoins" [value]="coin.name">
          {{ coin.name }}
        </md-option>
      </md-select>
    </div>    

    <div class=" ">
      <md-input-container class="">
        <input mdInput placeholder="Destination Address" value="1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX">
      </md-input-container>
    </div>    
    <md-input-container class="">
      <input mdInput disabled placeholder="Converted value" value="{{convertedCoin}}">
      <span mdSuffix>{{selectedDestCoin}}</span>
    </md-input-container>
    <a md-raised-button color="primary">Send</a> 
  </md-card>
  <div class="grow-1"></div>
</div>
-->
