<div class="section bg-nav-blue">
  <div class="row container">
    <div class="col row s12 m4 ">
      <div class="col s12 circle">
        <img src=".\assets\circle-image.png">  
      </div>
      <h4 class="col s12 txt-white center">NavTech</h4>
      <p class="col s12 center">Ea dolore sint dolor et consequat sunt fugiat laborum nisi nulla!</p>
    </div>

    <div class="col row s12 m4 ">
      <div class="col s12 circle">
        <img src=".\assets\circle-image.png">  
      </div>
      <h4 class="col s12 txt-white center">Polymorph</h4>
      <p class="col s12 center">Aliquip ut exercitation sint tempor quis consectetur!</p>
    </div>

    <div class="col row s12 m4 ">
      <div class="col s12 circle">
        <img src=".\assets\circle-image.png">  
      </div>
      <h4 class="col s12 txt-white center">Changlly</h4>
      <p class="col s12 center">Anim occaecat occaecat cupidatat qui laborum!</p>
    </div>
  </div>
</div>

