/*font colours*/

.txt-black {
  color: #000;
}

.txt-white {
  color: #FFF;
}

.txt-nav-purp {
  color: hsl(263, 38%, 53%);
}

.txt-nav-blue {
  color: hsl(199, 81%, 58%);
}

.txt-dark-grey {
  color: #333;
}

.txt-med-grey {
  color: #777;
}

.txt-light-grey {
  color: #ccc;
}

/* Background Colors*/

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #FFF;
}

.bg-nav-purp {
  background-color: hsl(263, 38%, 53%);
}

.bg-nav-blue {
  background-color: hsl(199, 81%, 58%);
}

.bg-dark-grey {
  background-color: #333;
}

.bg-med-grey {
  background-color: #777;
}

.bg-light-grey {
  background-color: #ccc;
}