<div class="section" id="send-coin-sect">
  <div class="container form-light">
    <!-- <img alt="Navtech logo" id="header-logo" src=".\assets\polymorph-logo.svg" /> -->
    <div class="row">
      <div class="col l12 m10 s12 push-m1">
        <div class="center montserrat" id="paragraph-container">
            <h1 class="heading">Instantly swap between 72 cryptocurrencies. Privately.</h1>
            <h4 class="sub-heading">Transfer from one coin to another coin in seconds.</h4>
        </div>
        <send-coins-form-component theme="form-light"></send-coins-form-component>
      </div>
    </div>
  </div>
</div>
