<div class="section parallax-container" id="send-coin-sect">
  <div class="parallax" materialize="parallax"><img src="./assets/polymorph-background.jpg"></div>
  <div class="container form-light">
    <img alt="Navtech logo" id="header-logo" src=".\assets\polymorph-logo.svg" />
    <div class="row">
      <div class="col l8 m10 s12 push-l2 push-m1">
        <div class="center" id="paragraph-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
        </div>
        <send-coins-form-component lightTheme="true"></send-coins-form-component>
        <div class="row">
          <div class="send-buttons col s12 no-hoz-spacing">
            <button class="btn waves-effect waves-light btn-small bg-blue" type="submit" name="action">Clear</button>
            <button class="btn waves-effect waves-light bg-fuschia lighten-1" type="submit" name="action">Send
                <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
