/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./css/colours.css";
@import "./css/flexbox.css";

body{
    font-family:  "Roboto",sans-serif;
}

.section {
    padding-top: 30px;
    min-height: 300px;
}

.section-main {
    padding: 10px 50px;
    flex-basis: 60%;
    min-height: 300px;
}


.center {
  margin: auto;
}

.txt-center {
    text-align: center;
}

@media (max-width: 500px){
    .mob-hdn {
        display: none;
    }
}

button {
    width: 60%;
    max-width: 175px;
}

.btn-small {
    width: 15%;
    max-width: 75px;
}

.btn-wide {
    width: 100%;
    max-width: 100%; /* Overriding the default button style */
    padding: 0;
    
}

.align-md-select {
    padding-top: 5px;
}

.input-label {
    flex-basis: 80%;
}

.input-std{
    flex-basis: 60%;
}
}